.calendarContainer {
    display: grid;
    grid-template-columns: repeat(7, 75px);
    grid-template-rows: auto repeat(6, 75px);
    gap: 5px;
    padding: 5px;
}

.header {
    font-weight: bold;
    text-align: center;
    background: darkred;
    padding: 5px;
}

.day {
    display: flex;
    align-items: center;
    justify-content: center;
    background: #f0f0f0;
    border: 1px solid #ccc;
    font-size: 14px;
    font-weight: bold;
    color: black;
}

@media (max-width: 600px) {
    .calendarContainer {
        grid-template-columns: repeat(7, 40px);
        grid-template-rows: auto repeat(6, 40px);
    }
}
