@tailwind base;
@tailwind components;
@tailwind utilities;

html,
body {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    min-height: 100vh;
    background-color: var(--bg-color);
    color: var(--heading-color);
    font-family: "Inter", sans-serif;
}

body {
    padding: 1rem;
    line-height: 1.5;
    margin: 0;
    padding: 0;
}

main {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    width: 100vh;
    height: 100vh;
}
